body{
    background-color:#e5a510;
}
.form-container {
    display:flex;
    width:700px;
    border:2px solid green;
    margin:2rem auto;
    height: 700px; 
    box-shadow:0px 0px 5px 0px black;  
}
.form-grp h2{
    text-align:center;
}
.form-grp #form-group{
   
    width:80%;
    margin:0 auto;
}
.form-container .form-grp{
    width:75%;
    background-color:white;
}
#form-group .pass-option{
    margin-top:0.5rem;
    text-align:center;
}

form {

    margin-top:8rem;
}
form .form-card{
    width:100%;

}
form .form-card  label{
    display: block;
    margin:1rem 0;
    text-align:center;
    opacity:0.8;
    
}
form .form-card label::after{
    content:"*";
    color:red;
}
form .form-card input{
    width:100%;
    border:none;
    border-bottom:2px solid;
    outline:none;
}
form .form-card button {
    width:100%;
    margin-top:1rem;
    padding:1rem;
    border-radius:20px;
    cursor:pointer;
}

.form-container #sign-up {
    background-color:yellow;
    border:1px solid green;
    
    background:url(/home6.jpg) no-repeat center/cover; 
}

.form-container #sign-up h2 {
    text-align:center;
   

}
.form-container #sign-up p{
    margin-top:2rem;
    text-align:center;
}
.form-container #sign-up .sign-up  {
    width:75%;
    margin:auto;
    margin-top:14rem;

}
#sign-up .sign-up button {
    width:100%;
    padding:1rem;
    border-radius:20px;
    cursor:pointer;
    border:none;
}
